<h1>Welcome</h1>

<%= link_to "Sign-up",  personal_profiles_new_path %><br>
<%= link_to "Login",  login_path %>

<h4>Introduction</h4>
<p>At some point, most of us pursued a workout program or diets. With all the great intentions we wanted
better or just lose a few pounds. In some cases, we had temporary success and reached a goal. Slowly, 
however, the weight crept and we fall back into our old routines. Others times, our efforts prove futile
as diet and exercise. 

Often, we blame the blame the diet, workout program, or our own lack of discipline and willpower. But many
times, the blame falls on personal motivation and our circumstances.</p>

<h4>Personal Motivation</h4>
<p> Workouts programs, diets, discipline, and willpower aid in our overall health and wellbeing. 
However, each implies grinding joylessly through tasks to fulfill a certain goals. In reality, we
cannot sustain this type of effort over the long-term. 
 
Motivation focuses on growth, ability to control our environment, and connections with other people. We 
find satisfaction, fun, and joy in movement, exercise, and eating good food. As a result. we can better
develop the discipline and willpower to pursue our goals. At the same time, we pick the right workout 
programs and diets.</p>

<h4>Circumstance</h4>
<p>Our circumstances or life situations forces into unhealthy habits and ways of living. Everything from
entertainment, work, chores, and hobbies. Much of our work requires we sit at a desk 
and stare at a computer. As a result, we develop poor posture and may not a burn enough calories 
throughout the day. Chores, such as shopping or playing bills,  no longer require a trip to an office.
Instead, we just click a button. Finally, hobbies and entertainment comes through television, videogames, 
or tablets.

Computers, tablets, smartphones, and television have greatly improve our lives. However, they greatly 
changed our lifestyles and situations, so many of us lead sedentary lifestyles and eat poorly</p>

<h4> What Can We Do</h4>
<p>Given changes in our circumstnces, a workout program and diet may not produce the habit changes and
routines needed for a healthy lifestyle. A better approach maybe understanding our motivations and
improving our life situations. Each will help us develop the discipline and willpower needed for a 
healthy lifestyle. 

This website focuses on our motivation and life situations. </p>

