<h1>Start Group</h1>

<p>Groups helps you connect with other like-minded members around certain themes and topics. You can form a group focused on the keto diet, hiking, lifting
weights. Provide an opportunity to ask question or host discussionss. </p>

<%= render partial: "form", local: {group: @group} %>