

<p>Healthy and active require relationships and support. Friends and family help us through the tough times and 
hold us accountable in the good. How we find those on relationships depends on our communities? Many times, 
support may come through our family and friends. We can people on the same journey and work with them on their
journey. Other times, community groups and gym classes offer support. </p>

<p>This questionnaire can help you identify family members and community groups that offer support</p>

<%= render partial: "form", local: {support: @support} %>