<h1>Motivation</h1>

<h4>Why do you want to lead a healthy and lifestyle?</h4>
<p><%=@motivation.motivator%></p>

<h4>What type of motivation are you experiencing?</h4> 
<p><%=@motivation.motivation_type %></p>

<h4>How much inwared and outward presure are you exepriencing in pursuing this goal?</h4>
<p><%=@motivation.pressure %></p>

<h4>If you feel lots of pressure, how can you connect with your values and interests?</h4>
<p><%= @motivation.new_motivator %></p>