<h4>Become A Leader</h4>

<p>In our journey to a more healthy and active life, we face plenty of obstacles and hurdles. Group leaders help people along their journeys. They form groups 
and host discussion forums on areas on of interent. Please become a group leader and host a group geared around your areas of interest and hobbies. Give us your
username. Provide an area of interest. It could be anything, such as ftiness over forty or hiking the cascades. Finally give us brief description. Of course, form
your group</p>

<%= render partial: "form", local: {group_leader: @leader} %>