<h1>Opportunities for Healthy and Active Livng</h1>

<p>Active and healthy resources requires resources that helps us safely train and workout. It may feel overwhelming
and impossible at first, because we may not have access to a gym. The good news is training does not happen at a
gym. Many cities and municipalties invest heavily in parks, walking paths, and green spaces. These places offer all 
kinds opprtunities for activities. Additionally, wilderness area, such as lakes forests, and rivers, provide 
opportunities for walking, hiking, running, or cycling. Finally, we can always workout at home. Training equipment
can purchased inexpensively and workouts can easily be accessed through the internet. </p>

<p>This assessment helps us identify places and areas that we can safely train and participate in physical activity.</p>  


<%= render partial: "form", local: {available: @available} %>