<h1>Comment </h1>
<%=link_to "Return to Discussion", discussion_path(@comment.discussion) %><br><br>

<p><%= @comment.write_comment %></p>

<h4>Reply:</h4>
<%=link_to "Add Reply", new_comment_reply_path(@comment) %><br>
<br>
<br>
<% @comment.replies.each do |comment| %>
    <%= comment.write_reply %><br><br>
<%end%>