<h1>Goals</h1>

<h4>What are goals?</h4>
<p> Motivation serves as the fuel, goals serve as the power. They strengthen us and help us fulfill our desires. 
How goals power us is not all the same?</p>

<ul>
   <li>Extrinsic goals are based on outside rewards, punishments, or threats. We   
       often feel pressure to conform to standards and ideals. Thus, they help us  
       power us in the short-term but cause burnout in the long-term.</li> 
    <li>Intrinsic goal focuses are based on our interest, values, and passions. We 
        Look to build independence, skills, and relationships. Therefore, they   
        Produce higher levels satisfaction and give us long-term success.</li>
</ul> 

<h4>Setting Goals</h4>
<p>Goal-setting is the process of narrowing our desires into a set of action steps. We often use a series 
statement that focuses us on a set of actions. These statements include:</p>
<ul>
   <li>Goal statements are statements of desires of our desires and wants. In fitness 
       goals, identify our motivation in the first of part statement, and the second is 
       the desire or want. Finally, focus on the change lifestyle and not numbers of 
       deadlines. Ex. I want to more energy to play with my kids, so I want to lead a  
       healthier lifestyle</li>
   <li>Objectives are the action steps needed for our goal. Here we want to add numbers   
       and deadlines. Ex.Lose ten pounds through better nutrition and nutrition over the 
       next two months and ten pounds of muscle through weightlifting and nutrition</li>
    <li>Strategy are routines, techniques, and methods needed for our goals and   
        objectives. Our objective could be losing ten pounds through regular exercise. A 
        strategy maybe lifting three days a week followed by two days of cardio</li>
    <li>Tactics are specific actions needed for our strategies. Our strategy maybe lifting 
        three days followed by two days of cardio. Tactic could be jogging two days a week 
        as part of our cardio and a full Circuit the other three days.</li>
</ul>

<p>As you add actions to your goals, make sure to add enjoyable activities. Cardio exercises can include anything 
that brings you movement. It could be jogging, walking, dancing, fitness classes, and cycling.</p> 
