<h1>Goals</h1>

<h4>What are goals?</h4>
<p> Motivation serves as the fuel, goals serve as the power. They strengthen us and help us fulfill our desires. 
How goals power us is not all the same?</p>

<ul>
   <li>Extrinsic goals are based on outside rewards, punishments, or threats. We   
       often feel pressure to conform to standards and ideals. Thus, they help us  
       power us in the short-term but cause burnout in the long-term.</li> 
    <li>Intrinsic goal focuses are based on our interest, values, and passions. We 
        Look to build independence, skills, and relationships. Therefore, they   
        Produce higher levels satisfaction and give us long-term success.</li>
</ul> 

<h4>Setting Goals</h4>
<p>Goal-setting is the process of narrowing our desires into a set of action steps. We often use a series 
statement that focuses us on a set of actions. These statements include:</p>
<ul>
   <li>Goal statements are statements of desires of our desires and wants. In fitness 
       goals, identify our motivation in the first of part statement, and the second is 
       the desire or want. Finally, focus on the change lifestyle and not numbers of 
       deadlines. Example of goals are:
         <ul>
           <li>I want more energy to play with my kids, so I want to develop healthier habits.</li>
           <li>I love running and challenging myself, so I want to run a marathon</li>
         </ul>
     </li>
   <li>Objectives are the action steps needed for our goal. Here we want to add numbers   
       and deadlines. Good objectives for the goal,"I want more energy to play with my kids, 
       so I want to develop healthier habits."
       <ul>
         <li>I want to spend the next month learning about proper nutrition and exercise 
              technique.</li>
         <li>Then I want to lose ten pounds over three months.</li> 
       </ul>
    </li>
    <li>Strategies are routines, techniques, and methods needed for our goals and objectives. A 
        strategy for learning about nutrition and exercise technique by meeting with a personal 
        trainer or nutritionist.</li>
    <li>Tactics are specific actions needed for our strategies. Our strategy maybe lifting 
        three days followed by two days of cardio. Tactics could focus on specific workouts.
        <ul>
          <li>Jogging or a zumbe class two days for our cardio</li> 
          <li>Put together an outdoor full body circuit three days a week</li> 
        </ul>
    </li>
</ul>

<p>As you set goals, here are some suggestions for success:</p>
    
<ul>
  <li>Goals should focus on values, interests, and passion.</li> 
  <li>Make sure goals and activities allow for learning new skills, building confidence, 
      and fostering relationships.</li>
  <li>Keep activities fun and enjoyable. Include classes, outdoor activities, walking, dancing, 
      sports, hiking, and time with friends and family.</li> 
  <li>Always start slow, simple, and look for early victories.</li> 
</ul>
  
<%= render partial: "form", local: {goal: @goal} %>