
<h1>Cost</h4>
<p> All of us must work and make a living, and it is just a job. We have huge responsibilities, such as children, 
spouses, and homes. Yes, we may need money for a gym membership, but we also need to time drive to the gym, change 
clothes, and start a workout. Additionally, we may bring with stress that drains our energy and desire. </p>

<p>How we make a living and handle responsibilities can greatly impact our lifestyles. This assessment will help us
 weigh some of the costs in terms of time and money and come-up with a plan.</p>

 <%= render partial: "form", local: {cost: @cost} %>